body {
    background-color: aquamarine;
}
h1 {
    color:darkcyan;
    text-align:center;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size:medium
}
li {
    color:red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a.youtube {
    text-align:right;
    display:inline-block;
    position:fixed;
    margin-left:850px;
}
a.buttonkatt {
    display:inline-block;
    position:absolute;
    font-size:x-large;
    left: 5%;
    bottom: 5%;

}
img.box{
    position:absolute;
    left:37%
}
a.buttonhem{
    display:inline-block;
    position:fixed;
    margin-top:500px;
}
a.buttonslit{
    display:inline-block;
    position:fixed;
    font-size:x-large;
    bottom: 5%;
    left: 20%;
}
form{
    display:inline-block;
    position:absolute;
    bottom:30%;
    right:30%
}
a.slithome{
    display:inline-block;
    position: absolute;
    bottom: 4%;
    left:2%
}
.experiment-wrapper {
    display: flex;
    margin-bottom: 25px;
    padding: 25px;
    bottom:30%;
    position:absolute;
    right:37%
}
.experiment {
    position: relative;
}
img.plate{
    display:inline-block;
}
img.emitter{
    display:inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: 0;
}
.headerbox{
    margin-top:25%

}
button{
    color:aquamarine;
}
.wave{
    position: absolute;
    display:inline-block;
    left: 50%;
    transform: translate(-50%, -90%)
}
button.eye{
    position: absolute;
    left: 60%;
    top: 60%;
}
img.eyepic{
    transform: translate(-50%, -50%);
    position: absolute;
    display: inline-block;
   
}
h2{
    color: darkcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2.surprise{
    right: 0%;
    top: 10%;
    position: absolute;
}
img.shock{
    position: absolute;
    right: 15%;
    top: 30%;
}
a.buttoncount{
    display:inline-block;
    position:fixed;
    font-size:x-large;
    bottom: 5%;
    left: 39%;
}
a.homecount{
    display:inline-block;
    position:fixed;
    bottom: 5%;
    left: 5%;
}